<ion-view view-title="Estou em casa">
	<ion-content>
		<div class="camera-do-local">
			<img src="img/icone-logo.png" alt="" />
			<span>CASA</span>
		</div>

		<div class="camera centro">
			<img alt="http://200.163.33.178:8099/" src="http://200.163.33.178:8099/" />
		</div>

		<div class="centro grade-de-botoes">
			<div class="capturar-imagem" ng-click="atender($event)">Capturar imagem</div>
			<div class="desligar-audio">Desligar áudio</div>
			<div class="ligar-luz" ng-click="ligarLuzes()">Ligar luz</div>
			<div class="abrir-portao" ng-click="abrirPortao()">Abrir portão</div>
			<div class="disparar-alarme" ng-click="dispararAlarme()">Disparar alarme</div>
			<div class="chamada-de-emergencia">Chamada de emegência</div>
		</div>

		<div class="centro botoes-largos">
			<div class="falar" on-hold="falar()" on-release="pararDeFalar()">Pressione para falar</div>
		</div>
	</ion-content>
</ion-view>