<ion-view view-title="Estou em casa">
	<ion-content>
		<div class="camera centro">
			<img alt="http://200.163.33.178:8099/" src="http://200.163.33.178:8099/" />
		</div>

		<hr class="divisor" />

		<div class="centro">
			<div class="chamando">CHAMANDO...</div>

			<div class="local" ng-click="visualizar()">
				<img src="img/icone-logo.png" alt="" />
				<span>CASA</span>
			</div>

			<br/>
		</div>

		<hr class="divisor" />

		<div class="centro grade-de-botoes">
			<div class="aceitar-chamada" ng-click="atender()"></div>
			<div class="negar-chamada" ng-click="negar()"></div>
		</div>
	</ion-content>
</ion-view>