.centro {
	text-align: center;
}

.invisivel {
	display: none !important;
}

.grade-de-botoes div {
	width: 40%;
	height: 130px;
	margin: 2px;
	background-color: #C6C6C6;
	display: inline-block;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.botoes div {
	width: 100%;
	height: 130px;
	margin: 2px;
	background-color: #C6C6C6;
	display: inline-block;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.atender {
	background-image: url('../img/camera.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}

.atendido {
	background-image: url('../img/camera-off.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
	background-color: #5F6466;
}

.falar {
	background-image: url('../img/som-off.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
}

.parar-de-falar {
	background-image: url('../img/som.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
}

.abrir-portao {
	background-image: url('../img/chave.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}

.ligar-as-luzes {
	background-image: url('../img/luz-off.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
}

.luzes-ligadas {
	background-image: url('../img/luz.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
}

.disparar-alarme {
	background-image: url('../img/alarme.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}

.policia {
	background-image: url('../img/policia.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}

ion-content {
	background-color: #072A3A;
}