@font-face {
	font-family: 'SCRIPTBL';
	src: url('SCRIPTBL.ttf') format('truetype');
}

.title {
	font-family: 'SCRIPTBL';
	font-size: 25px !important;
}

.logo {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.logo img {
	width: 90%;
}

.centro {
	text-align: center;
}

.divisor {
	margin-bottom: 35px;
	width: 90%;
}

.invisivel {
	display: none !important;
}

.locais {
	background-color: white;
}

.icone {
	background-color: white;
	width: 30%;
	display: inline-block;
}

.nome {
	background-color: white;
	width: 69%;
	display: inline-block;
}

.local {
	background-color: #C6C6C6;
	padding: 5px;
	vertical-align: top;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 5px;
	color: white;
}

.local img {
	width: 60px;
	display: inline-block;
}

.local span {
	width: 70%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin-left: 20px;
	margin-top: 20px;
	font-size: 35px;
}

.grade-de-nome div {
	height: 50px;
	margin: 2px;
	background-color: #C6C6C6;
	display: inline-block;
	vertical-align: top;
}

.grade-de-nome .descricao {
	padding-top: 12px;
	background-color: transparent;
	color: white;
}

.logo-pequena {
	width: 100px;
}

.icone {
	background-image: url('../img/icone-logo.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 20%;
}

.descricao {
	width: 70%;
	padding-top: 35px;
	font-size: 35px;
}

.camera {
	margin-top: 20px;
	margin-bottom: 20px;
}

.grade-de-botoes div {
	width: 40%;
	height: 130px;
	margin: 2px;
	background-color: #C6C6C6;
	display: inline-block;
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: left;
}

.botoes-largos div {
	width: 90%;
	height: 130px;
	margin: 2px;
	background-color: #C6C6C6;
	display: inline-block;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.falar {
}

.atender {
	background-image: url('../img/camera.png');
}

.atendido {
	background-image: url('../img/camera-off.png');
	background-color: #5F6466;
}

.parar-de-falar {
	background-image: url('../img/som.png');
}

.abrir-portao {
	background-image: url('../img/chave.png');
}

.ligar-as-luzes {
	background-image: url('../img/luz-off.png');
}

.luzes-ligadas {
	background-image: url('../img/luz.png');
}

.disparar-alarme {
	background-image: url('../img/alarme.png');
}

.policia {
	background-image: url('../img/policia.png');
}

ion-content {
	background-color: #072A3A;
}