@font-face {
	font-family: 'SCRIPTBL';
	src: url('SCRIPTBL.ttf') format('truetype');
}

.title {
	font-family: 'SCRIPTBL';
	font-size: 25px !important;
}

.logo {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.logo img {
	width: 90%;
}

.centro {
	text-align: center;
}

.divisor {
	margin-bottom: 35px;
	width: 90%;
}

.invisivel {
	display: none !important;
}

.locais {
	background-color: white;
}

.icone {
	background-color: white;
	width: 30%;
	display: inline-block;
}

.nome {
	background-color: white;
	width: 69%;
	display: inline-block;
}

.chamando {
	font-size: 40px;
	color: white;
	margin-bottom: 30px;
}

.local {
	background-color: #284367;
	padding: 5px;
	vertical-align: top;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 5px;
	color: white;
}

.local img {
	width: 60px;
	display: inline-block;
}

.local span {
	width: 70%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin-left: 20px;
	margin-top: 20px;
	font-size: 35px;
}

.camera-do-local {
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
}

.camera-do-local img {
	background-color: #284367;
	width: 60px;
	display: inline-block;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 8px;
}

.camera-do-local span {
	width: 70%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin-left: 20px;
	margin-top: 20px;
	font-size: 35px;
	color: white;
}

.camera {
	margin-top: 20px;
	margin-bottom: 20px;
}

.grade-de-botoes div {
	width: 40%;
	height: 100px;
	margin: 2px;
	background-color: #284367;
	display: inline-block;
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: 10px;
	color: white;
	font-size: 20px;
	vertical-align: top;
	padding-top: 30px;
	padding-left: 45px;
}

.botoes-largos div {
	width: 82%;
	height: 130px;
	margin: 2px;
	background-color: #284367;
	background-repeat: no-repeat;
	background-position: 10px;
	display: inline-block;
	vertical-align: top;
	padding-top: 50px;
	padding-left: 60px;
	font-size: 30px;
	color: white;
}

.capturar-imagem {
	background-image: url('../img/icone-camera.png');
	background-color: #5F6466;
}

.desligar-audio {
	background-image: url('../img/icone-audio.png');
}

.ligar-luz {
	background-image: url('../img/icone-luz.png');
}

.abrir-portao {
	background-image: url('../img/icone-chave.png');
}

.disparar-alarme {
	background-image: url('../img/icone-alarme.png');
}

.chamada-de-emergencia {
	background-image: url('../img/icone-190.png');
}

.falar {
	background-image: url('../img/icone-falar.png');
}

.parar-de-falar {
	background-image: url('../img/som.png');
}

.aceitar-chamada {
	background-image: url('../img/icone-atender.png');
	background-position: center !important;
	background-size: 70% !important;
}

.negar-chamada {
	background-image: url('../img/icone-recusar.png');
	background-position: center !important;
	background-size: 60% !important;
}

ion-content {
	background-color: #072A3A;
}